@CHARSET "UTF-8";

#fabviewer {
/* 	position: absolute; */
	left: 0px;
	top: 0px;
}

#fabvcontainer{
/* 	border: 1px solid green; */
	min-width: 150px;
	min-height: 150px;
	float: left;
}

#controlpanel{
	border: 1px solid black;
	min-width: 50px;
	min-height: 50px;
	position: absolute;
	width: 17%;
	background-color: rgba(255, 255, 255, .15);  
 	backdrop-filter: blur(5px);
 	color: #85d6d1;
 	cursor: move;
}


    
#datapanel{
	clear: left;
	width: 50%;
	height: 100%;
	min-height: 150px;
	border: 1px solid gray;
}

/* #catalogues{ */
/* 	height: 150px; */
/* 	overflow: scroll; */
/* } */